@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin-ext");
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif; }

.full-width {
  width: 100%;
  position: relative; }

.letter {
  position: absolute;
  font-size: 300px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #e3a062;
  opacity: 0.22;
  text-transform: uppercase;
  top: 0;
  right: 80px; }
  .letter__left {
    top: -210px;
    left: 80px;
    right: auto; }

.letter-description {
  position: absolute;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #e3a062;
  transform: rotateZ(-90deg);
  right: 160px;
  bottom: 160px; }
  .letter-description::after {
    position: absolute;
    display: block;
    content: "";
    border-bottom: 1px solid #e3a062;
    width: 70px;
    right: -85px;
    top: 50%; }
  .letter-description__left {
    left: 106px;
    right: auto;
    bottom: 80px; }

.title {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #000000;
  margin-bottom: 70px;
  position: relative; }
  .title::after {
    position: absolute;
    display: block;
    content: "";
    border: 1px solid #e3a062;
    width: 100px;
    top: 100px; }

.description {
  font-size: 16px;
  color: #000000;
  letter-spacing: 2.5px;
  margin-bottom: 60px; }

.button {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  padding: 20px 80px;
  border: 2px solid #e3a062;
  text-decoration: none; }

.header {
  position: absolute;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 0;
  z-index: 100; }
  .header--item__menu {
    width: 632px; }
  .header--logo {
    display: flex;
    flex-direction: row;
    width: 154px;
    height: 38px;
    background-image: url("../img/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer; }
  .header--menu {
    display: flex;
    flex-direction: row; }
  .header--menu-link {
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff; }
    .header--menu-link__burger {
      position: relative;
      padding-right: 0; }
      .header--menu-link__burger::before {
        position: absolute;
        display: block;
        content: "";
        width: 14px;
        height: 11px;
        background-image: url("../img/menu-burger.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        left: -6px;
        top: 4px; }

.slider {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .slider--content, .slider--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px; }
    .slider--content__bottom, .slider--footer__bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: 40px; }
  .slider--action {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2px;
    position: relative;
    cursor: pointer; }
    .slider--action::before {
      position: absolute;
      display: block;
      content: "";
      border: 1px solid #a9794a;
      width: 40px;
      cursor: default; }
    .slider--action__prev::before {
      top: 9px;
      left: 45px; }
    .slider--action__next::before {
      top: 9px;
      right: 45px; }
  .slider--item {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .slider--item__center {
      max-width: 500px; }
    .slider--item__pro {
      width: 660px; }
  .slider--title {
    font-size: 120px;
    line-height: 120px;
    color: #e3a062;
    word-spacing: 100%; }
  .slider--description {
    padding: 60px 0; }
  .slider--button {
    text-transform: uppercase;
    color: #e3a062;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3a062; }
  .slider--socials, .slider--progress {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .slider--socials__width, .slider--progress__width {
      justify-content: flex-start; }
  .slider--social-link {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffffff;
    position: relative;
    padding-right: 20px; }
    .slider--social-link::after {
      position: absolute;
      display: block;
      content: "/";
      top: 0;
      right: 6px; }
    .slider--social-link:last-of-type {
      padding-right: 0; }
      .slider--social-link:last-of-type::after {
        display: none; }
  .slider--progress-number {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff; }
  .slider--progr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px; }
  .slider--progress-line {
    border: 1px solid #ffffff;
    width: 200px; }
  .slider--scroll {
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  .about-us--container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .about-us--block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 120px 0; }
  .about-us--image {
    width: 50%;
    height: 540px;
    background-image: url("../img/about-us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .about-us--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    width: 50%; }

.services {
  width: 100%;
  height: 530px;
  background-color: #000000;
  background-image: url("../img/services.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .services--container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .services--header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 70px; }
  .services--title {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 2.5px;
    position: relative; }
    .services--title::after {
      position: absolute;
      display: block;
      content: "";
      border: 1px solid #e3a062;
      width: 60px;
      top: 100px; }
  .services--subtitle {
    font-size: 14px;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 2.5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3a062;
    display: flex;
    align-items: flex-end;
    cursor: pointer; }
  .services--img-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .services--img-item {
    width: 350px;
    height: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    .services--img-item::before {
      position: absolute;
      display: block;
      content: "";
      background-image: url("../img/overlay.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0; }
    .services--img-item__one {
      background-image: url("../img/services-img1.png");
      background-position: left center; }
    .services--img-item__two {
      background-image: url("../img/services-img2.jpg"); }
    .services--img-item__three {
      background-image: url("../img/services-img3.jpg"); }
    .services--img-item:hover .services--img-info {
      opacity: 1; }
    .services--img-item:hover .services--img-name {
      opacity: 0; }
  .services--img-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2.5px;
    transition: .3s all ease-in;
    z-index: 1; }
  .services--img-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e3a062;
    align-items: center;
    opacity: 0;
    transition: .3s all ease-in;
    z-index: 2;
    position: relative; }
    .services--img-info::after {
      position: absolute;
      display: block;
      content: "";
      top: -16px;
      bottom: -16px;
      left: -16px;
      right: -16px;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.51); }
  .services--img-title {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: #ffffff;
    padding-bottom: 40px;
    z-index: 2;
    position: relative; }
    .services--img-title::after {
      position: absolute;
      display: block;
      content: "";
      border: 1px solid #e3a062;
      width: 40px;
      bottom: 25px;
      left: 50%;
      margin-left: -20px; }
  .services--img-description {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 2.5px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    max-width: 215px;
    padding-bottom: 40px;
    z-index: 2;
    position: relative; }
  .services--img-read {
    text-transform: uppercase;
    font-size: 14px;
    color: #e3a062;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 2.5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3a062;
    cursor: pointer;
    z-index: 2;
    position: relative; }

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .projects--container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .projects--letter {
    top: -130px; }
  .projects--description {
    bottom: 100px; }
  .projects--title {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #000000;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 130px; }
    .projects--title::after {
      position: absolute;
      display: block;
      content: "";
      border: 1px solid #e3a062;
      width: 70px;
      top: 100px; }
  .projects--img-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    overflow: hidden;
    height: 414px; }
    .projects--img-block__first .swiper-wrapper {
      align-items: flex-end; }
    .projects--img-block__last .swiper-wrapper {
      align-items: flex-start; }
  .projects--img {
    width: 430px !important;
    height: 280px;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s all ease-in; }
    .projects--img__active {
      width: 559px !important;
      height: 364px; }
    .projects--img__one {
      background-image: url("../img/services-img1.png");
      background-position: left center; }
    .projects--img__two {
      background-image: url("../img/services-img2.jpg"); }
    .projects--img__three {
      background-image: url("../img/services-img3.jpg"); }
    .projects--img__four {
      background-image: url("../img/services-img3.jpg"); }
  .projects--button {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 110px; }
  .projects .swiper-container {
    width: 100%; }
  .projects .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

.testimonials {
  width: 100%;
  height: 900px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative; }
  .testimonials::after {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/testimonials-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1; }
  .testimonials--container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .testimonials--block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .testimonials--description {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    max-height: 140px;
    font-size: 36px;
    letter-spacing: 2.5px;
    line-height: 48px;
    text-align: center;
    position: relative; }
    .testimonials--description::after {
      position: absolute;
      display: block;
      content: "";
      border: 1px solid #e3a062;
      width: 150px;
      top: 125px; }
  .testimonials--name {
    font-size: 30px;
    letter-spacing: 2.5px;
    color: #ffffff;
    padding-top: 70px; }
    .testimonials--name__subname {
      font-size: 16px;
      padding-top: 10px; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000000; }
  .footer--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 15px 0;
    padding-left: 20px;
    padding-right: 20px; }
  .footer--logo {
    width: 160px;
    height: 90px;
    background-image: url("../../assets/img/logo.png");
    background-position: center;
    background-repeat: no-repeat; }
  .footer--copy {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #afa9a3;
    transition: 0.3s all ease-in; }
  .footer--link {
    text-decoration: none;
    color: #f7f3ec; }
