@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext");
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif; }

.full-width {
  width: 100%; }

.header {
  position: absolute;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 0;
  z-index: 100; }
  .header--item__menu {
    width: 632px; }
  .header--logo {
    display: flex;
    flex-direction: row;
    width: 154px;
    height: 38px;
    background-image: url("../img/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer; }
  .header--menu {
    display: flex;
    flex-direction: row; }
  .header--menu-link {
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff; }
    .header--menu-link__burger {
      position: relative;
      padding-right: 0; }
      .header--menu-link__burger::before {
        position: absolute;
        display: block;
        content: "";
        width: 14px;
        height: 11px;
        background-image: url("../img/menu-burger.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        left: -6px;
        top: 4px; }

.slider {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .slider--content, .slider--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px; }
    .slider--content__bottom, .slider--footer__bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: 40px; }
  .slider--action {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2px;
    position: relative;
    cursor: pointer; }
    .slider--action::before {
      position: absolute;
      display: block;
      content: "";
      border: 1px solid #a9794a;
      width: 40px;
      cursor: default; }
    .slider--action__prev::before {
      top: 9px;
      left: 45px; }
    .slider--action__next::before {
      top: 9px;
      right: 45px; }
  .slider--item {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .slider--item__center {
      max-width: 500px; }
    .slider--item__pro {
      width: 660px; }
  .slider--title {
    font-size: 120px;
    line-height: 120px;
    color: #e3a062;
    word-spacing: 100%; }
  .slider--description {
    padding: 60px 0; }
  .slider--button {
    text-transform: uppercase;
    color: #e3a062;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3a062; }
  .slider--socials, .slider--progress {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .slider--socials__width, .slider--progress__width {
      justify-content: flex-start; }
  .slider--social-link {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: #ffffff;
    position: relative;
    padding-right: 20px; }
    .slider--social-link::after {
      position: absolute;
      display: block;
      content: "/";
      top: 0;
      right: 6px; }
    .slider--social-link:last-of-type {
      padding-right: 0; }
      .slider--social-link:last-of-type::after {
        display: none; }
  .slider--progress-number {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff; }
  .slider--progr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px; }
  .slider--progress-line {
    border: 1px solid #ffffff;
    width: 200px; }
  .slider--scroll {
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer; }
