.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  &--container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &--block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 120px 0;
  }
  &--image {
    width: 50%;
    height: 540px;
    background-image: url("../img/about-us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    width: 50%;
  }
}