@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.full-width {
  width: 100%;
}