@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin-ext');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.full-width {
  width: 100%;
  position: relative;
}

.letter {
  position: absolute;
  font-size: 300px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #e3a062;
  opacity: 0.22;
  text-transform: uppercase;
  top: 0;
  right: 80px;
  &__left {
    top: -210px;
    left: 80px;
    right: auto;
  }
}

.letter-description {
  position: absolute;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #e3a062;
  transform: rotateZ(-90deg);
  right: 160px;
  bottom: 160px;
  &::after {
    position: absolute;
    display: block;
    content: "";
    border-bottom: 1px solid #e3a062;
    width: 70px;
    right: -85px;
    top: 50%;
  }
  &__left {
    left: 106px;
    right: auto;
    bottom: 80px;
  }
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #000000;
  margin-bottom: 70px;
  position: relative;
  &::after {
    position: absolute;
    display: block;
    content: "";
    border: 1px solid #e3a062;
    width: 100px;
    top: 100px;
  }
}

.description {
  font-size: 16px;
  color: #000000;
  letter-spacing: 2.5px;
  margin-bottom: 60px;
}

.button {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  padding: 20px 80px;
  border: 2px solid #e3a062;
  text-decoration: none;
}