.slider {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
  }
  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__center {
      max-width: 500px;
    }
  }
  &--title {
    font-size: 120px;
    line-height: 120px;
    color: #e3a062;
    word-spacing: 100%;
  }
  &--description {
    padding: 60px 0;
  }
}
